h1 {
  color: pink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sunny-icon {
  color: rgb(239, 205, 14);
  font-size: 70px;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 3px solid #dadde1;
  border-radius: 10px;
}
